<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>관리자 홈</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <th:block th:replace="~{fragments/file_link :: linkInfo}"></th:block>

</head>

<body class="account-page">

<div th:replace="~{fragments/common_header :: commonHeader}"></div>

<main class="main">

  <div class="page-title light-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">관리자 페이지</h1>
      <nav class="breadcrumbs"> <ol>
        <li><a th:href="@{/}">Home</a></li>
        <li class="current">관리자 홈</li>
      </ol>
      </nav>
    </div>
  </div>
  <section id="account" class="account section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="mobile-menu d-lg-none mb-4">
        <button class="mobile-menu-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#profileMenu">
          <i class="bi bi-grid"></i>
          <span>Menu</span>
        </button>
      </div>

      <div class="row g-4">
        <div class="col-lg-3">
          <div th:replace="~{fragments/admin_side_bar :: admin_side_bar}"></div>
        </div>

        <div class="col-lg-9">
          <h3>관리자 메인 페이지입니다</h3>
          <p>왼쪽 메뉴를 선택하여 작업을 시작하세요.</p>
        </div>
      </div> </div>

  </section>
</main>

<div th:replace="~{fragments/common_footer :: commonFooter}"></div>

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Vendor & Main JS Files -->
<th:block th:replace="~{fragments/common_scripts :: commonScripts}"></th:block>

</body>
</html>