<header id="header" class="header sticky-top" th:fragment="commonHeader">
    <!-- Main Header -->
    <div class="main-header">
        <div class="container-fluid container-xl">
            <div class="d-flex py-3 align-items-center justify-content-between">

                <a th:href="@{/}" class="logo d-flex align-items-center">
                    <img th:src="@{/assets/img/logo.png}" alt="logo">
                </a>

                <!-- Search -->
                <form class="search-form desktop-search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="검색어를 입력하세요.">
                        <button class="btn" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>

                <!-- Actions -->
                <div class="header-actions d-flex align-items-center justify-content-end">

                    <!-- Mobile Search Toggle -->
                    <button class="header-action-btn mobile-search-toggle d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
                        <i class="bi bi-search"></i>
                    </button>

                    <!-- Account -->
                    <div class="dropdown account-dropdown">
                        <button class="header-action-btn" data-bs-toggle="dropdown">
                            <i class="bi bi-person"></i>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-header">
                                <h6>별이삼shop</h6>
                                <p class="mb-0">내 정보 &amp; 주문 내역</p>
                            </div>
                            <div class="dropdown-body">
                                <a class="dropdown-item d-flex align-items-center" href="/mypage">
                                    <i class="bi bi-person-circle me-2"></i>
                                    <span>마이페이지</span>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="/mypage/orders">
                                    <i class="bi bi-bag-check me-2"></i>
                                    <span>주문내역</span>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="/wishlist">
                                    <i class="bi bi-heart me-2"></i>
                                    <span>위시리스트</span>
                                </a>
                            </div>
                            <div class="dropdown-footer">
                                <a href="/login" class="btn btn-primary w-100 mb-2">로그인</a>
                                <a href="/register" class="btn btn-outline-primary w-100">회원가입</a>
                            </div>
                        </div>
                    </div>

                    <!-- Cart -->
                    <a href="/carts" class="header-action-btn">
                        <i class="bi bi-cart3"></i>
                        <span class="badge">3</span>
                    </a>

                    <!-- Mobile Navigation Toggle -->
                    <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>

                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <div class="header-nav">
        <div class="container-fluid container-xl position-relative">
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#">베스트</a></li>
                    <li><a href="#">신상품</a></li>
                    <!-- Products Mega Menu 2 -->
                    <li class="products-megamenu-2"><a href="#"><span>국내도서</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>

                        <!-- Products Mega Menu 2 Mobile View -->
                        <ul class="mobile-megamenu">
                            <li class="dropdown"><a href="#"><span>Clothing</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Shirts &amp; Tops</a></li>
                                    <li><a href="#">Coats &amp; Outerwear</a></li>
                                    <li><a href="#">Underwear</a></li>
                                    <li><a href="#">Sweatshirts</a></li>
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Swimwear</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Shoes</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Boots</a></li>
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">Heels</a></li>
                                    <li><a href="#">Loafers</a></li>
                                    <li><a href="#">Slippers</a></li>
                                    <li><a href="#">Oxfords</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Accessories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Handbags</a></li>
                                    <li><a href="#">Eyewear</a></li>
                                    <li><a href="#">Hats</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Jewelry</a></li>
                                    <li><a href="#">Belts</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Specialty Sizes</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Plus Size</a></li>
                                    <li><a href="#">Petite</a></li>
                                    <li><a href="#">Wide Shoes</a></li>
                                    <li><a href="#">Narrow Shoes</a></li>
                                </ul>
                            </li>

                        </ul><!-- End Products Mega Menu 2 Mobile View -->

                        <!-- Products Mega Menu 2 Desktop View -->
                        <div class="desktop-megamenu">

                            <!-- Tabs Content -->
                            <div class="megamenu-content tab-content">

                                <div class="tab-pane fade show active" role="tabpanel">
                                    <div class="category-layout">
                                        <div class="categories-section">
                                            <div class="category-headers">
                                                <h4>Clothing</h4>
                                                <h4>Shoes</h4>
                                                <h4>Accessories</h4>
                                                <h4>Specialty Sizes</h4>
                                            </div>

                                            <div class="category-links">
                                                <div class="link-row">
                                                    <a href="#">Shirts &amp; Tops</a>
                                                    <a href="#">Boots</a>
                                                    <a href="#">Handbags</a>
                                                    <a href="#">Plus Size</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Coats &amp; Outerwear</a>
                                                    <a href="#">Sandals</a>
                                                    <a href="#">Eyewear</a>
                                                    <a href="#">Petite</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Underwear</a>
                                                    <a href="#">Heels</a>
                                                    <a href="#">Hats</a>
                                                    <a href="#">Wide Shoes</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Sweatshirts</a>
                                                    <a href="#">Loafers</a>
                                                    <a href="#">Watches</a>
                                                    <a href="#">Narrow Shoes</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Dresses</a>
                                                    <a href="#">Slippers</a>
                                                    <a href="#">Jewelry</a>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Swimwear</a>
                                                    <a href="#">Oxfords</a>
                                                    <a href="#">Belts</a>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">View all</a>
                                                    <a href="#">View all</a>
                                                    <a href="#">View all</a>
                                                    <a href="#"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!-- End Products Mega Menu 2 Desktop View -->

                    </li><!-- End Products Mega Menu 2 -->

                    <li class="products-megamenu-2"><a href="#"><span>외국도서</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>

                        <!-- Products Mega Menu 2 Mobile View -->
                        <ul class="mobile-megamenu">
                            <li class="dropdown"><a href="#"><span>Clothing</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Shirts &amp; Tops</a></li>
                                    <li><a href="#">Coats &amp; Outerwear</a></li>
                                    <li><a href="#">Underwear</a></li>
                                    <li><a href="#">Sweatshirts</a></li>
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Swimwear</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Shoes</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Boots</a></li>
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">Heels</a></li>
                                    <li><a href="#">Loafers</a></li>
                                    <li><a href="#">Slippers</a></li>
                                    <li><a href="#">Oxfords</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Accessories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Handbags</a></li>
                                    <li><a href="#">Eyewear</a></li>
                                    <li><a href="#">Hats</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Jewelry</a></li>
                                    <li><a href="#">Belts</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Specialty Sizes</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Plus Size</a></li>
                                    <li><a href="#">Petite</a></li>
                                    <li><a href="#">Wide Shoes</a></li>
                                    <li><a href="#">Narrow Shoes</a></li>
                                </ul>
                            </li>

                        </ul><!-- End Products Mega Menu 2 Mobile View -->

                        <!-- Products Mega Menu 2 Desktop View -->
                        <div class="desktop-megamenu">

                            <!-- Tabs Content -->
                            <div class="megamenu-content tab-content">

                                <div class="tab-pane fade show active" role="tabpanel">
                                    <div class="category-layout">
                                        <div class="categories-section">
                                            <div class="category-headers">
                                                <h4>Clothing</h4>
                                                <h4>Shoes</h4>
                                                <h4>Accessories</h4>
                                                <h4>Specialty Sizes</h4>
                                            </div>

                                            <div class="category-links">
                                                <div class="link-row">
                                                    <a href="#">Shirts &amp; Tops</a>
                                                    <a href="#">Boots</a>
                                                    <a href="#">Handbags</a>
                                                    <a href="#">Plus Size</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Coats &amp; Outerwear</a>
                                                    <a href="#">Sandals</a>
                                                    <a href="#">Eyewear</a>
                                                    <a href="#">Petite</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Underwear</a>
                                                    <a href="#">Heels</a>
                                                    <a href="#">Hats</a>
                                                    <a href="#">Wide Shoes</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Sweatshirts</a>
                                                    <a href="#">Loafers</a>
                                                    <a href="#">Watches</a>
                                                    <a href="#">Narrow Shoes</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Dresses</a>
                                                    <a href="#">Slippers</a>
                                                    <a href="#">Jewelry</a>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Swimwear</a>
                                                    <a href="#">Oxfords</a>
                                                    <a href="#">Belts</a>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">View all</a>
                                                    <a href="#">View all</a>
                                                    <a href="#">View all</a>
                                                    <a href="#"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!-- End Products Mega Menu 2 Desktop View -->

                    </li><!-- End Products Mega Menu 2 -->

                    <li class="products-megamenu-2"><a href="#"><span>문구/GIFT</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>

                        <!-- Products Mega Menu 2 Mobile View -->
                        <ul class="mobile-megamenu">
                            <li class="dropdown"><a href="#"><span>Clothing</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Shirts &amp; Tops</a></li>
                                    <li><a href="#">Coats &amp; Outerwear</a></li>
                                    <li><a href="#">Underwear</a></li>
                                    <li><a href="#">Sweatshirts</a></li>
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Swimwear</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Shoes</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Boots</a></li>
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">Heels</a></li>
                                    <li><a href="#">Loafers</a></li>
                                    <li><a href="#">Slippers</a></li>
                                    <li><a href="#">Oxfords</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Accessories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Handbags</a></li>
                                    <li><a href="#">Eyewear</a></li>
                                    <li><a href="#">Hats</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Jewelry</a></li>
                                    <li><a href="#">Belts</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Specialty Sizes</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Plus Size</a></li>
                                    <li><a href="#">Petite</a></li>
                                    <li><a href="#">Wide Shoes</a></li>
                                    <li><a href="#">Narrow Shoes</a></li>
                                </ul>
                            </li>

                        </ul><!-- End Products Mega Menu 2 Mobile View -->

                        <!-- Products Mega Menu 2 Desktop View -->
                        <div class="desktop-megamenu">

                            <!-- Tabs Content -->
                            <div class="megamenu-content tab-content">

                                <div class="tab-pane fade show active" role="tabpanel">
                                    <div class="category-layout">
                                        <div class="categories-section">
                                            <div class="category-headers">
                                                <h4>Clothing</h4>
                                                <h4>Shoes</h4>
                                                <h4>Accessories</h4>
                                                <h4>Specialty Sizes</h4>
                                            </div>

                                            <div class="category-links">
                                                <div class="link-row">
                                                    <a href="#">Shirts &amp; Tops</a>
                                                    <a href="#">Boots</a>
                                                    <a href="#">Handbags</a>
                                                    <a href="#">Plus Size</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Coats &amp; Outerwear</a>
                                                    <a href="#">Sandals</a>
                                                    <a href="#">Eyewear</a>
                                                    <a href="#">Petite</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Underwear</a>
                                                    <a href="#">Heels</a>
                                                    <a href="#">Hats</a>
                                                    <a href="#">Wide Shoes</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Sweatshirts</a>
                                                    <a href="#">Loafers</a>
                                                    <a href="#">Watches</a>
                                                    <a href="#">Narrow Shoes</a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Dresses</a>
                                                    <a href="#">Slippers</a>
                                                    <a href="#">Jewelry</a>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">Swimwear</a>
                                                    <a href="#">Oxfords</a>
                                                    <a href="#">Belts</a>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="link-row">
                                                    <a href="#">View all</a>
                                                    <a href="#">View all</a>
                                                    <a href="#">View all</a>
                                                    <a href="#"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!-- End Products Mega Menu 2 Desktop View -->

                    </li><!-- End Products Mega Menu 2 -->

                </ul>
            </nav>
        </div>
    </div>

    <!-- Mobile Search Form -->
    <div class="collapse" id="mobileSearch">
        <div class="container">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

</header>