<header id="header" class="header sticky-top"
        th:fragment="commonHeader"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <!-- Main Header -->
    <div class="main-header">
        <div class="container-fluid container-xl">
            <div class="d-flex py-3 align-items-center justify-content-between">

                <a th:href="@{/}" class="logo d-flex align-items-center">
                    <img th:src="@{/assets/img/logo.png}" alt="logo">
                </a>

                <!-- Search -->
                <form class="search-form desktop-search-form" th:action="@{/search}" method="get">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="검색어를 입력하세요." th:value="${query}" required>
                        <button class="btn" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>

                <!-- Actions -->
                <div class="header-actions d-flex align-items-center justify-content-end">

                    <!-- Mobile Search Toggle -->
                    <button class="header-action-btn mobile-search-toggle d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
                        <i class="bi bi-search"></i>
                    </button>

                    <!-- Account -->
                    <div class="dropdown account-dropdown">
                        <button class="header-action-btn" data-bs-toggle="dropdown">
                            <i class="bi bi-person"></i>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-header" th:if="${@authHelper.isLoggedIn()}">
                                <h6>
                                    안녕하세요! <span sec:authentication="principal.nickname"></span> 님
                                </h6>
                                <p class="mb-0">내 정보 &amp; 주문 내역</p>
                            </div>

                            <div class="dropdown-header" th:if="${!@authHelper.isLoggedIn()}">
                                <h6>별이삼shop</h6>
                                <p class="mb-0">로그인 해주세요</p>
                            </div>
                                 <div class="dropdown-body" th:if="${@authHelper.isAdmin()}">
                                    <a class="dropdown-item d-flex align-items-center" href="/admin">
                                    <i class="bi bi-person-circle me-2"></i>
                                    <span>관리자페이지</span>
                                    </a>
                                 </div>

                                <div class="dropdown-body" sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item d-flex align-items-center" href="/mypage">
                                        <i class="bi bi-person-circle me-2"></i>
                                        <span>마이페이지</span>
                                    </a>

                                    <a class="dropdown-item d-flex align-items-center" href="/mypage/orders">
                                        <i class="bi bi-bag-check me-2"></i>
                                        <span>주문내역</span>
                                    </a>

                                    <a class="dropdown-item d-flex align-items-center" href="/mypage/wishlist">
                                        <i class="bi bi-heart me-2"></i>
                                        <span>위시리스트</span>
                                    </a>
                                </div>

                            <div class="dropdown-footer" style="padding: 0">
                                <div style="padding: 1.25rem;">
                                    <form sec:authorize="isAuthenticated()" action="/members/logout"
                                    method="post" style="margin: 0;">
                                        <button type="submit" class="btn btn-outline-primary w-100">
                                            로그아웃
                                        </button>
                                    </form>

                                    <a sec:authorize="!isAuthenticated()" href="/members/login"
                                        class="btn btn-primary w-100 mb-2 mb-2">로그인</a>

                                    <a sec:authorize="!isAuthenticated()" href="/members/register"
                                        class="btn btn-outline-primary w-100">회원가입</a>
                                </div>

                                <hr style="margin: 0;">

                                <div style="padding: 0.75rem; text-align: center;">
                                    <a sec:authorize="!isAuthenticated()" href="/orders/nonmember/lookup"
                                       class="w-100" style="font-size: 14px;">비회원 주문조회 →</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cart -->
                    <a href="/carts/books" class="header-action-btn">
                        <i class="bi bi-cart3"></i>
                    </a>

                    <!-- Mobile Navigation Toggle -->
                    <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>

                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <div class="header-nav">
        <div class="container-fluid container-xl position-relative">
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/best">베스트</a></li>
                    <li><a href="/new">신상품</a></li>

                    <li th:each="root : ${tree}" class="dropdown">
                        <a th:href="@{'/categories/' + ${root.categoryId} + '/books'(pathId=${root.pathId})}"> <span th:text="${root.categoryName}"></span> </a>

                        <ul th:if="${#lists.size(root.children) > 0}" class="dropdown-menu level-1">
                            <li th:each="child : ${root.children}" class="dropdown-submenu" th:classappend="${#lists.size(child.children) > 0} ? ' has-children' : ''">
                                <a th:href="@{'/categories/' + ${child.categoryId} + '/books'(pathId=${child.pathId})}" th:text="${child.categoryName}"></a>

                                <ul th:if="${#lists.size(child.children) > 0}" class="dropdown-menu level-2">
                                    <li th:each="grand : ${child.children}">
                                    <a th:href="@{'/categories/' + ${grand.categoryId} + '/books'(pathId=${grand.pathId})}" th:text="${grand.categoryName}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <!-- Mobile Search Form -->
    <div class="collapse" id="mobileSearch">
        <div class="container">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

</header>